# node
node_modules/
npm-debug.log*
.yarn/*
dist/
build/
.env
.prisma/
.venv
.venv/*
# OS
.DS_Store
Thumbs.db

# backend secrets
/backend/.env
/backend/service-account.json

# frontend envs
/frontend/.env*
/frontend/.env

